.infoBox {
  flex: 1;

  &--selected {
    border-top: .625rem solid greenyellow;
  }

  &--red {
    border-color: rgb(216, 45, 45);
  }

  &__cases--green {
    color: lightgreen !important;
  }

  &__cases{
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;

    @media (max-width: 600px) {
      font-size: 1rem;
    }
  }

  &__total{
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: .9375rem !important;
  }

  &:not(:last-child) {
    margin-right: .625rem;
  }
}