.table-country {
    height: 2.5rem;
    border-radius: .3125rem;
    background-repeat: no-repeat;
    background-size: 1.875rem;
    background-position: left center;
    position: relative;
    padding-right: 0rem;

    .title{
        text-align: center;
    }
}