.table-country {
    height: 40px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: left center;
    position: relative;
    padding-right: 0px;

    .title{
        text-align: center;
    }
}