
.sidebar {
  position: sticky;
  height: 450px;
  min-width: 130px;
  width: 150px;

  top: 5.5rem;
  left: 2.5rem;
  color: black;
  background-color: white;
  padding: 25px 0px;
  display: flex;
  flex-direction: column;

  &.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 11px;
    margin: 10px;
    box-shadow: 1px 1px;
  }
}

.middle {
  display: flex;
  justify-content: space-around;
}

.sidebar title a{
  width: 100px;
  font-size: 12px;
}

.btn-group {
  border-radius: 10px;
  border: none;
  margin: 2rem 0;

  button {
    width: 95%;
    transition-duration: 0.4s;
    border: none;
    color: red;
    background-color:	#F8F8F8;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 2px;
    cursor: pointer;
  }

  button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #f5f6fa;
  padding: 10px;

  &__top {
    background: #3b5998;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;    
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
  }
  
  &__body {
    flex: 0.8;

    &-map {
      display: flex;
      height: 500px;
      width: 1150px;
      background-color: white;
      padding: 1rem;
      border-radius: 20px;  
      box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
      text-align: center;
    }
  }

  &__right {
    display: flex;
    margin-right: 1rem;
  }

  &__information > h3 {
    color: #6a5d5d;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1rem;

    &:last-of-type {
      margin-top: 1rem;
    }
  }
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}