* {
  margin: 0;
}

.navbar {
  position: sticky;
  height: 100%;
  min-width: 200px;
  width: 200px;

  top: 2.5rem;
  left: 100px;
  color: black;
  background-color: white;
  padding: 75px 0px;
}

.button {
  transition-duration: 0.4s;
  border-radius: 8px;
  border: none;
  color: red;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}



body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
}

.app__dropdown {
  background-color: white;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__left {
  flex: 0.3;

}
.app__right{
  flex: 0.5;

}

.app__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
